<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <style>
        .panel-body a
        {
            word-break:break-all
        }
    </style>
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <script src="javascripts/bootstrap.min.js"></script>
  <script src="javascripts/index.js"></script>
</html>
